html{ font-size: 100%; }
* { box-sizing: border-box; }

body {
    background: #fff;
    font-size: 16px;
    line-height: 1.2;
    width: 100%;
    margin: 0;
}

div.title {
    background: #007c7c;
    color: #fff;
    overflow: hidden;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

div.title h1 {
    font-size: 440%;
    margin: 0;
    color #000;
}

div.title small {
    font-size: 120%;
    color: #caf2e5;
}

div.social {
    background: #000;
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding: 5px;
    padding-top: 10px;
    position: relative;
}

div.social a:link {
    font-size: 140%;
    color: #fff;
    text-decoration: none;
    padding-right: 4px;
    padding-left: 4px;
}

div.social a:visited {
    font-size: 140%;
    color: #fff;
    text-decoration: none;
    padding-right: 4px;
    padding-left: 4px;
}

div.content {
    width: 50%;
    margin: auto;
    overflow: hidden;
    padding-top: 10px;
}

div.languages {
    text-align: center;
    font-size: 250%;
    color: #000;
}

table.languages {
    border-collapse: collapse;
    width: 100%;
    padding: 5px;
}

tr {
    text-align: center;
    padding: 8px;
}

tr a:link, a:visited {
    font-size: 50%;
    color: #000;
    text-decoration: none;
}

@media screen and (max-width: 980px) {
    div.content {
        width: 100%;
    }
}
