html{ font-size: 100%; }
* { box-sizing: border-box; }

body {
    background: #fff;
    font-size: 16px;
    line-height: 1.2;
    width: 100%;
    margin: 0;
}

div.title {
    background: #007c7c;
    color: #fff;
    overflow: hidden;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

div.title h1 {
    font-size: 440%;
    margin: 0;
    color #000;
}

div.title small {
    font-size: 120%;
    color: #caf2e5;
}

div.social {
    background: #000;
    text-align: center;
    width: 100%;
    overflow: hidden;
    padding: 5px;
    padding-top: 10px;
    position: relative;
}

div.social a:link {
    font-size: 140%;
    color: #fff;
    text-decoration: none;
    padding-right: 4px;
    padding-left: 4px;
}

div.social a:visited {
    font-size: 140%;
    color: #fff;
    text-decoration: none;
    padding-right: 4px;
    padding-left: 4px;
}

div.content {
    max-width: 980px;
    margin: auto;
    overflow: hidden;
    padding-top: 10px;
}

div.languages {
    text-align: center;
    font-size: 250%;
    color: #000;
}

table.languages {
    border-collapse: collapse;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

tr {
    text-align: center;
    padding: 8px;
}

tr a:link, a:visited {
    font-size: 50%;
    color: #000;
    text-decoration: none;
}

div.projects {
    padding-top: 10px;
    text-align: center;
    font-size: 250%;
    color: #000;
    display: block;
    overflow: hidden;
}

div.row {
    overflow: hidden;
    margin-top: 10px;
    margin: 0 auto;
    padding-top: 10px;
    border-bottom: 1px solid #000;
}

div.projects div.img {
    float: left;
    display: block;
    width: 50%;
}

div.projects div.row:nth-child(2n) div.img {
    float: right;
}

div.projects small, p {
    font-size: 50%;
    color: #000;
    float: right;
    display: inline-block;
    width: 50%;
}
div.projects small {
    font-size: 80%;
}

div.projects div.row:nth-child(2n) small,
div.projects div.row:nth-child(2n) p {
    float: left;
}

@media screen and (max-width: 980px) {
    div.projects div.row:nth-child(2n) div.img,
    div.projects div.row:nth-child(2n) small,
    div.projects div.row:nth-child(2n) p,
    div.projects small, p, div.img {
        width: 100%;
        float: none;
    }
    div.img {
        text-align: center;
    }
    div.content {
        width: 100%;
    }
}
