{{ define "content" }}
    <div class="title">
        <h1>Jacob Riddle</h1>
        <small>luckier than archer</small>
    </div>
    <div class="social">
        <a href="https://github.com/rudes" target="_blank">
            <i class="fa fa-github"></i>github
        </a>
        <a href="https://twitter.com/jxriddle" target="_blank">
            <i class="fa fa-twitter"></i>@jxriddle
        </a>
        <a href="https://www.linkedin.com/in/jxriddle" target="_blank">
            <i class="fa fa-linkedin-square"></i>linkedin
        </a>
    </div>
    <div class="content">
        <div class="languages">
            Languages I've Worked In
            <table class="languages">
                {{ printLanguages }}
            </table>
        </div>
        <div class="projects">
            Projects I've Built
            <div class="img">
                <a href="http://cryopoaste.com">
                    <img alt="Cryo Paste Image" src="/static/images/cryopaste.png">
                </a>
            </div>
            <div class="desc">
                Cryo Paste
            </div>
            <div class="img">
                <a href="http://otherletters.net">
                    <img alt="Other Letter Image" src="/static/images/otherletters.png">
                </a>
            </div>
            <div class="desc">
                Other Letters
            </div>
            <div class="img">
                <a href="http://runestats.stream">
                    <img alt="Rune Stats Image" src="http://runestats.stream/niriviaa.png"/>
                </a>
            </div>
            <div class="desc">
                Rune Stats
            </div>
        </div>
    </div>
{{ end }}
