{{ define "content" }}
    <div class="title">
        <h1>Jacob Riddle</h1>
        <small>luckier than archer</small>
    </div>
    <div class="social">
        <a href="https://github.com/rudes" target="_blank">
            <i class="fa fa-github"></i>github
        </a>
        <a href="https://twitter.com/jxriddle" target="_blank">
            <i class="fa fa-twitter"></i>@jxriddle
        </a>
        <a href="https://www.linkedin.com/in/jxriddle" target="_blank">
            <i class="fa fa-linkedin-square"></i>linkedin
        </a>
    </div>
    <div class="content">
        <div class="languages">
            Languages I've Worked In
            <table class="languages">
                <tr>
                    <td>
                        <a href="https://en.wikipedia.org/wiki/The_C_Programming_Language">
                            C
                        </a>
                    </td>
                    <td>
                        <a href="https://en.wikipedia.org/wiki/C%2B%2B">
                            C++
                        </a>
                    </td>
                    <td>
                        <a href="https://en.wikipedia.org/wiki/C_Sharp_(programming_language)">
                            C#
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://golang.org/">
                            Go
                        </a>
                    </td>
                    <td>
                        <a href="https://en.wikipedia.org/wiki/Java_(programming_language)">
                            Java
                        </a>
                    </td>
                    <td>
                        <a href="https://www.ruby-lang.org/en/">
                            Ruby
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://en.wikipedia.org/wiki/Bash_(Unix_shell)">
                            Bash
                        </a>
                    </td>
                    <td>
                        <a href="https://en.wikipedia.org/wiki/PowerShell">
                            Powershell
                        </a>
                    </td>
                    <td>
                        <a href="https://en.wikipedia.org/wiki/Perl">
                            Perl
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://en.wikipedia.org/wiki/Python_(programming_language)">
                            Python
                        </a>
                    </td>
                    <td>
                        <a href="https://www.rust-lang.org/en-US/">
                            Rust
                        </a>
                    </td>
                    <td>
                        <a href="https://www.haskell.org/">
                            Haskell
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://en.wikipedia.org/wiki/Tcl">
                            TCL
                        </a>
                    </td>
                    <td>
                        <a href="https://en.wikipedia.org/wiki/Vim_(text_editor)#Vim_script">
                            VimL
                        </a>
                    </td>
                    <td>
                        <a href="https://www.javascript.com/">
                            JavaScript
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="https://en.wikipedia.org/wiki/Korn_shell">
                            Ksh
                        </a>
                    </td>
                    <td>
                    </td>
                    <td>
                        <a href="https://secure.php.net/">
                            PHP
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{{ end }}
