{{ define "content" }}
    <div class="title">
        <h1>Jacob Riddle</h1>
        <small>luckier than archer</small>
    </div>
    <div class="social">
        <a href="https://github.com/rudes" target="_blank">
            <i class="fa fa-github"></i>github
        </a>
        <a href="https://twitter.com/jxriddle" target="_blank">
            <i class="fa fa-twitter"></i>@jxriddle
        </a>
        <a href="https://www.linkedin.com/in/jxriddle" target="_blank">
            <i class="fa fa-linkedin-square"></i>linkedin
        </a>
    </div>
    <div class="content">
        <div class="languages">
            Languages I've Worked In
            <table class="languages">
                {{ printLanguages }}
            </table>
        </div>
    </div>
{{ end }}
